# Configuration for conf.ini

# Example configuration variables:
# config1 = {{ config1 }}
# port = {{ port }}
# ...

# You can use these variables in your configuration file, for instance:
# config1 = {{ config1 }}
# port = {{ port }}
# ...
